<!DOCtype html>
<html lang ="en">
<head>
    <title>3E</title>
</head>

<body>
<a href = 'index.php'>Home</a>
<hr>
    {%  block main_body  %}{% endblock %}
    {%  block footer  %}{% endblock %}

</body>
</html>