<!DOCtype html>
<html lang ="en">
<head>
    <title>Poster List</title>
</head>

<body>
<a href = 'index.php'>Home</a>
<hr>
<form>



        Image Name<input type = 'text' name = 'imageName' value = '{{ poster.imageName }}'><br/>
        Price <input type = 'text' name = 'price' value = '{{ poster.price }}'> <br/>
        <input type = 'submit' name = 'updator' value = 'UPDATE'><br/>



</form>

</body>
</html>