<!DOCtype html>
<html lang ="en">
<head>
    <title>3D</title>
</head>

<body>
<a href = 'index.php'>Home</a>
<hr>
<ul>
    {%   for season , weather in seasons  %}
        <li>{{ season ~ ' = ' ~ weather }}</li>
    {% endfor %}
<ul>
</body>
</html>