<!DOCtype html>
<html lang ="en">
<head>
    <title>3A</title>
</head>

<body>
<a href = 'index.php'>Home</a>
<hr>
{#  <h1>Just a heading</h1>  #}

{% set year = '2018' %}

{{ year }}



</body>
</html>